[defaults]
inventory                  = ./inventory/all
#library                   = /usr/share/my_modules/
remote_tmp                 = $HOME/.ansible/tmp
pattern                    = *
forks                      = 15
poll_interval              = 15
sudo_user                  = root
#ask_sudo_pass              = True
#ask_pass                   = True
transport                  = smart
#remote_port                = 22
module_lang                = C
gathering                  = smart
roles_path                 = ./roles/
host_key_checking          = False
sudo_exe                   = sudo
#sudo_flags                 = -H
timeout                    = 20
remote_user                = ansible
#log_path                   = /var/log/ansible.log
#module_name                = command
executable                 = /bin/bash
#hash_behaviour             = replace
hash_behaviour             = merge
#jinja2_extensions          = jinja2.ext.do,jinja2.ext.i18n
#private_key_file           = /path/to/file
ansible_managed            = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
#display_skipped_hosts      = True
error_on_undefined_vars    = True
system_warnings            = True
deprecation_warnings       = True
#command_warnings           = False
action_plugins             = /usr/share/ansible_plugins/action_plugins
callback_plugins           = /usr/share/ansible_plugins/callback_plugins
connection_plugins         = /usr/share/ansible_plugins/connection_plugins
lookup_plugins             = /usr/share/ansible_plugins/lookup_plugins
vars_plugins               = /usr/share/ansible_plugins/vars_plugins
filter_plugins             = /usr/share/ansible_plugins/plugins/filter_plugins
#bin_ansible_callbacks      = False
nocows                     = 1
#nocolor                    = 1
legacy_playbook_variables  = no
# RHEL/CentOS
#ca_file_path               = /etc/pki/tls/certs/ca-bundle.crt
# Fedora
#ca_file_path               = /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem
#http_user_agent            = ansible-agent
#fact_caching               = redis
#fact_caching_timeout       = 3600
#fact_caching_connection    = localhost:6379:0
#retry_files_enabled        = False
#retry_files_save_path      = ~/.ansible-retry
jinja2_extensions          = jinja2.ext.do

[privilege_escalation]
#become                     = True
#become_method              = 'sudo'
#become_user                = 'root'
#become_ask_pass            = False

[paramiko_connection]
#record_host_keys           = False
#pty                        = False

[ssh_connection]
ssh_args                   = -o ControlMaster=auto -o ControlPersist=60s
control_path               = /tmp/ansible-ssh-%%h-%%p-%%r
pipelining                 = True

[accelerate]
accelerate_port            = 5099
accelerate_timeout         = 30
accelerate_connect_timeout = 5.0
accelerate_daemon_timeout  = 30
#accelerate_multi_key       = yes
